@model HrSystem.ViewModels.EmployeeViewModel


@{
	ViewData["Title"] = "Create";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<section id="horizontal-form-layouts">
	<div class="row">
		<div class="col-sm-12">
			<h2 class="content-header">Add Employees Form</h2>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<div class="card">
				<div class="card-header">
					<div class="card-title-wrap bar-success">
						<h4 class="card-title" id="horz-layout-basic">Employee Information</h4>
					</div>
					<p class="mb-0">This is the basic horizontal form with labels on left and cost estimation form is the default position.</p>
				</div>
				<div class="card-body">
					<div class="px-3">
						<form asp-action="Create" method="post" class="form form-horizontal" enctype="multipart/form-data">
							<div class="form-body">
								<h4 class="form-section">
									<i class="icon-user"></i> Personal Details
								</h4>
								@*FirstName*@
								<div class="form-group row">

									<label class="col-md-3 label-control" asp-for="FirstName">First Name: </label>
									<div class="col-md-9">
										<input asp-for="FirstName" class="form-control" />
										<span asp-validation-for="FirstName" class="text-danger"></span>

									</div>
								</div>
								@*	LastName*@
								<div class="form-group row">

									<label class="col-md-3 label-control" asp-for="LastName">Last Name: </label>
									<div class="col-md-9">
										<input asp-for="LastName" class="form-control" />
										<span asp-validation-for="LastName" class="text-danger"></span>

									</div>
								</div>
								@*Email*@
								<div class="form-group row">

									<label class="col-md-3 label-control" asp-for="Email">E-mail: </label>
									<div class="col-md-9">
										<input asp-for="Email" class="form-control" />
										<span asp-validation-for="Email" class="text-danger"></span>

									</div>
								</div>
								@*PhoneNumber*@
								<div class="form-group row">

									<label class="col-md-3 label-control" asp-for="PhoneNumber">CONTACT NUMBER: </label>
									<div class="col-md-9">
										<input asp-for="PhoneNumber" class="form-control" />
										<span asp-validation-for="PhoneNumber" class="text-danger"></span>

									</div>
								</div>

								<h4 class="form-section">
									<i class="icon-book-open"></i>Other Details
								</h4>


								@*BirthOfDate*@

								<div class="form-group row">

									<label class="col-md-3 label-control" asp-for="BirthOfDate">BIRTH OF DATE: </label>
									<div class="col-md-9">
										<input asp-for="BirthOfDate" type="date" class="form-control" />
										<span asp-validation-for="BirthOfDate" class="text-danger"></span>

									</div>
								</div>
								@*Gender*@
								<div class="form-group row">

									<label class="col-md-3 label-control" asp-for="Gender">GENDER: </label>
									<div class="col-md-9">
										<select asp-for="Gender"  class="form-control">
												<option value="0" selected="" disabled="">Select Gender</option>
												<option value="M">Male</option>
												<option value="F">Female</option>
										</select>
										<span asp-validation-for="Gender" class="text-danger"></span>

									</div>
								</div>
								@*DEPARTMENT*@
								<div class="form-group row">

									<label class="col-md-3 label-control" asp-for="deptId">DEPARTMENT: </label>
									<div class="col-md-9">
										<select asp-for="deptId"  class="form-control" asp-items="ViewBag.Departments">
												<option selected="" disabled="">Select Department</option>
												
										</select>
										<span asp-validation-for="Gender" class="text-danger"></span>

									</div>
								</div>
								@*EmploymentDate*@
								<div class="form-group row">

									<label class="col-md-3 label-control" asp-for="EmploymentDate">Employment Date: </label>
									<div class="col-md-9">
										<input asp-for="EmploymentDate" type="date" class="form-control" />
										<span asp-validation-for="EmploymentDate" class="text-danger"></span>

									</div>
								</div>
								@*AttendanceTime*@
								<div class="form-group row">

									<label class="col-md-3 label-control" asp-for="AttendanceTime">START TIME: </label>
									<div class="col-md-9">
										<input asp-for="AttendanceTime" type="time" class="form-control" />
										<span asp-validation-for="AttendanceTime" class="text-danger"></span>

									</div>
								</div>
								@*CheckOutTime*@
								<div class="form-group row">

									<label class="col-md-3 label-control" asp-for="CheckOutTime">END TIME: </label>
									<div class="col-md-9">
										<input asp-for="CheckOutTime" type="time" class="form-control" />
										<span asp-validation-for="CheckOutTime" class="text-danger"></span>

									</div>
								</div>
								@*SalaryAmount*@
								<div class="form-group row">

									<label class="col-md-3 label-control" asp-for="SalaryAmount">SALARY: </label>
									<div class="col-md-9">
										<input asp-for="SalaryAmount" type="number" class="form-control" />
										<span asp-validation-for="SalaryAmount" class="text-danger"></span>

									</div>
								</div>
								@*JopTitle*@
								<div class="form-group row">

									<label class="col-md-3 label-control" asp-for="JopTitle">Jop Title: </label>
									<div class="col-md-9">
										<input asp-for="JopTitle" type="text" class="form-control" />
										<span asp-validation-for="JopTitle" class="text-danger"></span>

									</div>
								</div>
								@*SSN*@
								<div class="form-group row">

									<label class="col-md-3 label-control" asp-for="SSN">NATIONAL ID: </label>
									<div class="col-md-9">
										<input asp-for="SSN" type="text" class="form-control" />
										<span asp-validation-for="SSN" class="text-danger"></span>

									</div>
								</div>
								@*Nationality*@
								<div class="form-group row">

									<label class="col-md-3 label-control" asp-for="Nationality">NATIONALITY: </label>
									<div class="col-md-9">
										<input asp-for="Nationality" type="text" class="form-control" />
										<span asp-validation-for="Nationality" class="text-danger"></span>

									</div>
								</div>
								@*Address*@
								<div class="form-group row">

									<label class="col-md-3 label-control" asp-for="Address">Address: </label>
									<div class="col-md-9">
										<input asp-for="Address" type="text" class="form-control" />
										<span asp-validation-for="Address" class="text-danger"></span>

									</div>
								</div>

								@*ProfilePicture*@

								<div class="form-group row">
									<label class="col-md-3 label-control" asp-for="ProfilePicture">Select Picture: </label>
									<div class="col-md-9">
										<label  asp-for="ProfilePicture" class="file center-block">
											<input type="file" asp-for="ProfilePicture" >
											<span class="file-custom"></span>
											:
										</label>
										<span asp-validation-for="ProfilePicture" class="text-danger"></span>
									</div>

								</div>
								
								@*Notes*@
								<div class="form-group row">
									<label class="col-md-3 label-control"asp-for="Notes">Notes: </label>
									<div class="col-md-9">
										<textarea  asp-for="Notes" rows="5" class="form-control" ></textarea>
										<span asp-validation-for="ProfilePicture" class="text-danger"></span>
									</div>
								</div>


								<div class="form-actions">
									<button type="reset" class="btn btn-danger mr-1">
										<i class="icon-trash"></i> Cancel
									</button>
									<button type="submit" class="btn btn-success">
										<i class="icon-note"></i> Save
									</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>


</section>

@section Scripts {
    @{
	await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}
