@model IEnumerable<EmployeeRole>
@{
    ViewData["Title"] = "Roles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="configuration">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <div class="card-title-wrap bar-success">
                        <h4 class="card-title">Group Permissions </h4>
                    </div>
                </div>
                <div class="card-body collapse show">
                    <div class="card-block card-dashboard">
                        <div class="px-3">
                            <div class="row">
                                <div class="col-sm-12 col-md-3">
                                    <div class="dataTables_length" id="DataTables_Table_0_length">
                                        <label>
                                            Show
                                            <select name="DataTables_Table_0_length" aria-controls="DataTables_Table_0" class="form-control form-control-sm">
                                                <option value="10">10</option>
                                                <option value="25">25</option>
                                                <option value="50">50</option>
                                                <option value="100">
                                                    100
                                                </option>
                                            </select>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-lg-1"></div>
                                <div class="col-sm-12 col-md-3">
                                    <div id="DataTables_Table_0_filter" class="dataTables_filter">
                                        <label>
                                            Search:<input  type="search" id="searchRole" class="form-control form-control-sm" placeholder=""
                                                          aria-controls="DataTables_Table_0">
                                        </label>
                                    </div>
                                </div>
                                <div class="col-lg-1"></div>
                                <div class="col-lg-3">
                                    <button id="addRow" class="btn btn-primary mb-2">
                                        <i class="ft-plus"></i>&nbsp;
                                        <a href="/managerole/createnewgroup"> Add new Group</a>
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div id="rolesTable">
                            @*patial view loaded here*@
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootbox.js/bootbox.min.js"></script>

<script>
      //load groups (roles) in #rolesTable div  and delete it
    $(function () {
        $("#rolesTable").load("/managerole/Loadroles")

    });

    $('#searchRole').on('keyup',function(event){
        let group =  $('#searchRole').val()
        $("#rolesTable").load("/managerole/searchRoles?groupName="+group);
    });

    $("#btnAddGroup").on("click", function () {
        let nwGroup = $("#groupNameInput").val();
        $("#rolesTable").load("/managerole/add?groupName="+nwGroup);
        console.log($(".btnDelete"));
    });

    function deleteRole(target){
        let btn = $(target);
        bootbox.confirm({
        message: "Are You Sure to Delete "+ btn.data('id')+" Role",
        buttons: {
            confirm: {
                label: 'Yes',
                className: 'btn-danger'
            },
            cancel: {
                label: 'No',
                className: 'btn-secondary'
            }
        },
        callback: function (result) {
            if(result){

                $("#rolesTable").load("/managerole/Delete?groupName="+btn.data('id'));
            }
        }
        });

    }

</script>
<partial name="_ValidationScriptsPartial" />

}

