@model HrSystem.Models.Vacation








      <div class="modal-header">
        <h5 class="modal-title">Are you sure you want to delete this Vacation?</h5>
        <button type="button" class="close" onclick="closeModal()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p> @Html.DisplayFor(model => model.VacationTitle) </p>
      </div>
      <div class="modal-footer">

            <form asp-action="Delete" method="post">
                 <input type="hidden" asp-for="VacationId" />
                <input type="submit" value="Delete" class="btn btn-danger" /> |
                <button type="button" class="btn btn-secondary" onclick="closeModal()" >Close</button>
            </form>  
      </div>
    





